* {
    font-family: 'Noto Sans', sans-serif;
    color:white;
}
body {
    margin: 0;
    padding: 0;

}

header {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.menu-left {
    display: flex;

}
.menu-right {
    display: flex;
    align-items: center;
}
.boxInput {
    height: 4vh;
    background: #000;
    display: flex;
    align-items: center;
    border: none;

}

.inputLupa {
    background: #000;
    width: 0;
    display: flex;
    outline: none ;
    border: 1px;
    
}
.menuSaida {
    display: none;
    align-items: center;
    flex-direction: row;
}
.itemlist {
    text-decoration: none;
    padding: 1vw;

}


.logo {
    width: 5vw;

}

.fotoPerfil {
    width: 3vw;
    padding: 1vw;
   
}

.fa-bell{
  width: 2.5vw;
  
}
.search {
    width: 2vw;
    margin: 1vw;
}