* {
    font-family: 'Noto Sans', sans-serif;
    color:white;
}
body {
    margin: 0;
    padding: 0;

}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header:hover {
    background-color: black;

}

.menu-left {
    display: flex;

}
.menu-right {
    display: flex;
}

.menu-saida {
    display: flex;
    align-items: center;
}
.itemlist {
    text-decoration: none;
    padding: 1vw;

}

.lupa {
    display: none;
    margin: 1vw;
}
.lupa:hover {
    display: inline;
}

.logo {
    width: 5vw;

}

.foto-perfil {
    width: 3vw;
    padding: 1vw;
   
}

.fa-bell{
  width: 1.5vw;
  
}

.fa-search {
    background-color: white;
}